---
title: About - CODI
---

<div class="container">
	<div class="main">
		<div class="col-xs-12 col-md-6 left-part">
			<h2><strong>What is CODI?</strong></h2>
			<p>The Cornell Open Data Initiative (CODI) is an attempt to create an open and easily accessible data repository for the Cornell community.</p>
			<h3>Motivation</h3>
			<p class="greyish">
				Many datasets such as admissions statistics, course offerings and dining hall menus are already available, but are inconsistent, malformed or just plain hard to find and use. By providing better access to these data resources, we hope to reduces the barriers to entry for designers, developers, entrepreneurs, researchers, journalists or anyone else who wants to help the Cornell and Ithaca community by creating some sort of data-driven product or anlysis.
			</p>
			<p class="greyish">By giving Cornellians the tools to better their community, CODI enables students to improve the quality of life for everyone on (and off) campus.
			</p>
			<h3>Inspiration</h3>
			<p class="greyish">
				The value and potential of open data has been recognized again and again by governments and corporate entites across the world. Per the May 2014 US Open Data Action Plan (as well as President Obama’s May 2013 executive order), “machine readable and open [is] the new default for government information.” As a result, much work has gone into supporting open data, such as that by US Open Data and the Sunlight Foundation (some of which we utilize for CODI’s infrastructure.
			</p>
			<p class="greyish">While government data is the poster child for the value that open data brings, organizations such as Campus Data have identified the strong need for open data in a college setting. By creating a culture of collaboration, students are empowered to become more active, responsible members of their community, taking on large problems alongside administrators, rather than in parallel with them.
			</p>
			<h3>Responsibility</h3>
			<p class="greyish">
				While CODI exists to kick-start efforts to make data accessible and usable for the student body, we are highly aware of the potential impact on Cornell’s IT infrastructure. We take the utmost care to both gather and distribute our data in a responsible and deliberate manner, with attempts to make the minimal impact on network resources.
			</p>
			<p class="greyish">In addition to limiting our direct impact on Cornell IT infrastructure, we do not seek to undermine any existing resources or official resources for gathering machine-readable data. If a high-quality resource is already provided by the University (or another entity), we will gladly promote and support that resource over creating our own.
			</p>
			<h2><strong>Who Are We?<strong></h2>
			<p class="greyish">CODI is made possible due to the support of several student organizations, as well as individual contributors.
			</p>

			<a href="http://cusd.cornell.edu/" target="_blank">
				<%= image_tag "cusdlogo.svg", class: "org-logo" %>
			</a>

			<a href="http://www.cuappdev.org/" target="_blank">
				<%= image_tag "cuappdev.png", class: "org-logo" %>
			</a>

			<a href="http://cornellds.com/index.html" target="_blank">
				<%= image_tag "opensource.png", class: "org-logo" %>
			</a>

			<p class="greyish">
				Special thanks to Eric Morris (Cornell University Sustainable Design), Eric Appel (CU App Dev), Nikita Dubnov (Cornell University Sustainable Design), Genki Marshall (Open Source Cornell), Priyanka Rathnam (Cornell Data Science), Rina Kang (Cornell University Sustainable Design), Troy Mock (Cornell University Sustainable Design), Greg Schultz (Cornell University Sustainable Design) and Rahul Madanahalli.
			</p>
		</div>
	</div>

	<div class="sidebar">
		<div class="col-xs-12 col-md-4">
			<h2><strong>Our Values</strong></h2>
			<%= image_tag "icons/accessibility.svg", class: "col-md-1 col-xs-1 icon" %>
			<h3>Accessibility</h3>
			<p class="greyish">Always make barriers to entry as low as possible, even at the cost of efficiency.</p>
			<%= image_tag "icons/sustainability.svg", class: "col-md-1 col-xs-1 icon" %>
			<h3>Sustainability</h3>
			<p class="greyish">Make something that will outlast any one person or project</p>
			<%= image_tag "icons/collaboration.svg", class: "col-md-1 col-xs-1 icon" %>
			<h3>Collaboration</h3>
			<p class="greyish">Always choose the best solution, even if it means giving up control</p>
			<%= image_tag "icons/openness.svg", class: "col-md-1 col-xs-1 icon" %>
			<h3>Openness</h3>
			<p class="greyish">Be transparent in our motives and actions. Actively seek out feedback and improvement.</p>
			<%= image_tag "icons/community.svg", class: "col-md-1 col-xs-1 icon" %>
			<h3>Community</h3>
			<p class="greyish">Only do things that make life better for the people of the Cornell and Ithaca.</p>

			<h2><strong>Contact</strong></h2>
			<h4>Questions? Comments? Want to help out?</h4>
			<div class="contacts">
				<a href="mailto:info@cuappdev.org" class="email">Email</a>
				<a href="https://github.com/cornell-data" target="_blank" class="github">Github</a>
			</div>
		</div>
	</div>




</div>