---
title: Data - CODI
---

<div class="container">

	<h2><b>Open Datasets</b></h2>
	<br>

	<div class="col-md-4 dataset" id = "map">
		<%= image_tag "icons/map.svg", class: "dataset-logo" %>
	    <h3><b>Map Data</b></h3>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category? "Map" %>
	    		<% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>

	<div class="col-md-4 dataset" id = "transit">
		<%= image_tag "icons/transit.svg", class: "dataset-logo" %>
	    <h3><b>Transit Data</b></h3>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category? "Transit" %>
	    	    <% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>

	<div class="col-md-4 dataset" id = "calender">
		<%= image_tag "icons/calendar.svg", class: "dataset-logo" %>
	    <h3><b>Calendar Data</b></h3>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category? "Calendar" %>
	    	    <% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>

	<div class="col-md-4 dataset empty" id = "dining">
		<%= image_tag "icons/dining.svg", class: "dataset-logo" %>
	    <h3><b>Dining Data</b></h3>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category? "Dining" %>
	    	    <% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>

	<div class="col-md-4 dataset empty" id = "academic">
		<%= image_tag "icons/academic.svg", class: "dataset-logo" %>
	    <h3><b>Academic Data</b></h3>
	    <h4>Coming Soon</h4>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category? "Academic" %>
	    	    <% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>
  
</div>