---
title: Data - CODI
---

<div class="codi-explorer-section">
  <p>Hello! We're in the process of revamping the CODI data and platform. You can still access the static datasets below but they are likely outdated. In the meantime, check out the beta version of the <a href=https://codi-explorer.herokuapp.com/dist/ target="_blank">CODI Explorer.</a></p>
</div>

<div class="container">

	<div class="main">

	<h2><b>Open Datasets (Old)</b></h2>
	<br>

	<div class="col-md-4 dataset col-sm-6" id = "map">
		<%= image_tag "icons/map.svg", class: "dataset-logo" %>
	    <h3><b>Map Data</b></h3>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category == "Map" %>
	    		<% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>

	<div class="col-md-4 dataset col-sm-6" id = "transit">
		<%= image_tag "icons/transit.svg", class: "dataset-logo" %>
	    <h3><b>Transit Data</b></h3>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category == "Transit" %>
	    	    <% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>

	<div class="col-md-4 dataset col-sm-6" id = "calender">
		<%= image_tag "icons/calendar.svg", class: "dataset-logo" %>
	    <h3><b>Calendar Data</b></h3>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category == "Calendar" %>
	    	    <% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>

	<div class="col-md-4 dataset col-sm-6" id = "dining">
		<%= image_tag "icons/dining.svg", class: "dataset-logo" %>
	    <h3><b>Dining Data</b></h3>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category == "Dining" %>
	    	    <% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>

	<div class="col-md-4 dataset empty col-sm-12 " id = "academic">
		<%= image_tag "icons/academic.svg", class: "dataset-logo" %>
	    <h3><b>Academic Data</b></h3>
	    <h4>Coming Soon</h4>
	    <ul>
	    <% data.datasets.each do |dset| %>
	    	<% if dset[1].category == "Academic" %>
	    	    <% link_to "/data/#{dset[0].split('-')[1]}.html" do %>
	    	    	<li><%= dset[1].name %></li>
	    	    <% end %>
	    	<% end %>
	    <% end %>
	    </ul>
	</div>
</div>

</div>
