---
title: Get Involved - CODI
---

<div class="welcome">
	<div class="container">
		<div class="col-lg-6 col-xs-12">
				<h1><strong>Get Involved</strong></h1>
				<h2> The Cornell Open Data Initiative (CODI) is the product of many individual contributors’ hard work and effort</h2>
				<p class="greyish">Contributing to CODI is a great way to support the Cornell community, as wellas the broader open source and open data communities. We have a wide variety of ways in which members (or non-members) can contribute, and are always willing to appropriately credit individuals or organizations for their contributions.<br><br> Additionally, working on CODI is a great learning experience. Our members are caring, empathetic and dedicated to helping build the community, so they’re always willing to lend a hand, give feedback or help find a project that’s right for your skills and interests.</p>
		</div>
		<div class="contact">
			<div class="col-lg-4 col-md-offset-1 col-xs-12 ">
				<h1> <strong>Contact</strong></h1>
				<h2> Not sure where to start? Don’t be afraid to reach out!</h2>
				<p> Email: <a href="#">info@cuappdev.org</a> </p>
				<p> Twitter: <a href="#">@cornelldata</a> </p>
				<p> Slack: <a href="#">cornelldata.slack.com</a>	</p>
				<p> Github: <a href="#">github.com/cornelldata</a> </p>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="contributions">
			<br>
			<div id="col-lg-12 bg-warning">
				<h1> <strong>Ways to Contribute</strong></h1>
				<h3> There are ways for people of many different skillsets (and all skill levels) to help out. </h3>
			</div>
			<div class="col-lg-4 col-xs-12">
				<%= image_tag "icons/dataengineer.svg", class: "col-lg-1 col-xs-1 icon2" %>
				<h1> <strong>Data Engineering</strong></h1>
				<p class="greyish">Our datasets don’t add themselves, so we always need help scraping, cleaning and documenting new sources of data.</p>
				<p><a href="#"> View Tasks</a></p>
			</div>
			<div class="col-lg-4 col-xs-12">
				<%= image_tag "icons/dataanalysis.svg", class: "col-lg-1 col-xs-1 icon2" %>
				<h1> <strong>Data Analysis</strong></h1>
				<p class="greyish"> The data (and our work) is useless unless people use it. We’ve got tons of ideas for apps or anlayses if you’re stuck, or are available to consult if you need help with best practices. </p>
				<p><a href="#"> View Tasks</a></p>
			</div>
			<div class="col-lg-4 col-xs-12">
				<%= image_tag "icons/softwareengineer.svg", class: "col-lg-1 col-xs-1 icon2" %>
				<h1> <strong>Software Engineering</strong></h1>
				<p class="greyish">It takes a lot of (open-source) software to serve our data up to the world. Help us keep our servers running, as well as build exciting new features and APIs</p>
				<p><a href="#"> View Tasks</a></p>
			</div>
			<div class="clearfix"></div>
			<div class=" col-lg-4 col-xs-12">
				<%= image_tag "icons/softwarearchi.svg", class: "col-lg-1 col-xs-1 icon2" %>
				<h1> <strong>Software Architecture</strong></h1>
				<p class="greyish">We’re not just a repository of data, but a resource to the Cornell data community. Help establish best practices for how to structure our software, as well as how to best utilize our data products.</p>
				<p><a href="#"> View Tasks</a></p>
			</div>
			<div class="col-lg-4 col-xs-12">
				<%= image_tag "icons/market.svg", class: "col-lg-1 col-xs-1 icon2" %>
				<h1> <strong>Marketing</strong></h1>
				<p class="greyish">Promoting the resources of CODI is a great way to increase the impact of the project and, ultimiately, its benefit for the Cornell community</p>
				<p><a href="#"> View Tasks</a></p>
			</div>
			<div class="col-lg-4 col-xs-12">
				<%= image_tag "icons/business.svg", class: "col-lg-1 col-xs-1 icon2" %>
				<h1> <strong>Business Development</strong></h1>
				<p class="greyish">Identifying which datasets and products to prioritize, interfacing with our supporting organizations and helping support open data efforts beyond Cornell are just some of what our business developers are responsible for.</p>
				<p><a href="#"> View Tasks</a></p>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="spacer"></div>
		<h1> <strong>Open tasks</strong></h1>
			<h2>A list of things to be done, also available on GitHub. If there’s something you think should be on our list that isn’t, feel free to reach out.</h2>
		<div class="col-lg-5 col-xs-6">
			<h3> Filter Tasks</h3>
			<div class="input-group">
	    	  <input type="text" class="form-control" placeholder="Ex: PHP or textbooks">
	        	<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Search</button>
      			</span>
	        </div>
    	</div>
		<div class="col-lg-6 col-md-offset-1 col-xs-6">
			<div class="form-horizontal">
				<h3> Task Type </h3>
				    <div class="checkbox-inline">
				      <label><input type="checkbox" value="">Data Engineering</label>
				    </div>
				    <div class="checkbox-inline">
				      <label><input type="checkbox" value="">Data Analysis</label>
				    </div>
				    <div class="checkbox-inline">
				      <label><input type="checkbox" value="">Software Engineering</label>
				    </div>
				    <div class="checkbox-inline">
				      <label><input type="checkbox" value="">Software Architecture</label>
				    </div>
				    <div class="checkbox-inline">
				      <label><input type="checkbox" value="">Marketing</label>
				    </div>
				    <div class="checkbox-inline">
				      <label><input type="checkbox" value="">Business Development</label>
				    </div>
			</div>
		</div>

		<div class="clearfix"></div>
		<div class="spacer"></div>
		
		<div class="col-lg-6 col-xs-12 ">
			<%= image_tag "icons/dataengineer.svg", class: "col-lg-1 col-xs-1 icon2" %>
			<h1> <strong>Overheard at Cornell Scraper</strong></h1>
		</div>
		<div class="col-lg-6">
			<div class="col-lg-4 col-xs-4">
				<h4 class="text-center boxed greyish"> Data Engineering</h4>
			</div>
			<div class="col-lg-4 col-xs-4">
				<h4 class="text-center boxed greyish"> Data Request</h4>
			</div>
			<div class="col-lg-4 col-xs-4">
				<h4 class="text-center boxed greyish"> Medium Difficulty</h4>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="pusher">
			<h4 class="greyish">Overheard at Cornell is a culturally relevent source of social data and could lead to some interesting analyses (sentiment, topic analysis, etc). It would be interesting to index this information, since extracting it from Facebook is a bit of a pain. </h4>
			<p><a href="#"> View on Github</a></p></div>
		</div>

		<div class="col-lg-6 col-xs-12">
			<%= image_tag "icons/verify.svg", class: "col-lg-1 col-xs-1 icon2" %>
			<h1> <strong>Cornell ID Verification (Protected NetID API/OAuth)</strong></h1>
		</div>
		<div class="col-lg-6 col-xs-12">
			<div class="col-lg-4 col-xs-4">
				<h4 class="text-center boxed greyish"> Software Engineering</h4>
			</div>
			<div class="col-lg-4 col-xs-4">
				<h4 class="text-center boxed greyish"> Product Development</h4>
			</div>
			<div class="col-lg-4 col-xs-4">
				<h4 class="text-center boxed greyish"> High Difficulty</h4>
			</div>
		</div>
		<div class="col-lg-12 col-xs-12">
			<div class="pusher">
			<h4 class="greyish"> HEY THIS IS THE SAME TEXT AS THE TOP ONE Overheard at Cornell is a culturally relevent source of social data and could lead to some interesting analyses (sentiment, topic analysis, etc). It would be interesting to index this information, since extracting it from Facebook is a bit of a pain. </h4>
			<p><a href="#"> View on Github</a></p></div>
		</div>

		<div class="col-lg-6 col-xs-12">
			<%= image_tag "icons/opstatus.svg", class: "col-lg-1 col-xs-1 icon2" %>
			<h1> <strong>University Operating Status</strong></h1>
		</div>
		<div class="col-lg-6 col-xs-12">
			<div class="col-lg-4 col-xs-4">
				<h4 class="text-center boxed greyish"> High Difficulty</h4>
			</div>
			<div class="col-lg-4 col-xs-4">
				<h4 class="text-center boxed greyish"> Software Engineering</h4>
			</div>
			<div class="col-lg-4 col-xs-4">
				<h4 class="text-center boxed greyish">Product Development</h4>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="pusher">
			<h4 class="greyish">
				HEY THIS IS THE SAME TEXT AS THE TOP ONE Overheard at Cornell is a culturally relevent source of social data and could lead to some interesting analyses (sentiment, topic analysis, etc). It would be interesting to index this information, since extracting it from Facebook is a bit of a pain. </h4>
			<p><a href="#"> View on Github</a></p></div>
		</div>
	</div> <!--close container-->
</div><!-- .welcome -->
  